<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [ngStyle]="{'font-size': (24 * getFontScale()) + 'px'}">
      {{ 'tab.1.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; width: 30%; justify-content: center; height: 100%; margin: auto;">
    <ion-list>
      <ion-radio-group [value]="defaultLang" (ionChange)="onChangeLang($event)">
        <ion-item *ngFor="let lang of listOfLangs">
          <ion-radio [ngStyle]="{'font-size': (18 * getFontScale()) + 'px'}" [value]="lang">{{ 'lang.' + lang | translate }}</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-range style="flex: 0;" [value]="getFontScale()" [step]="0.25" [ticks]="true" [snaps]="true" [min]="0.25" [max]="2" (ionChange)="onChangeFontScale($event)">
      <div slot="label" [ngStyle]="{'font-size': (16 * getFontScale()) + 'px'}">{{ 'fontScale' | translate }}: {{ getFontScale() }}</div>
    </ion-range>

    <p style="text-align: center;" [ngStyle]="{'font-size': (16 * getFontScale()) + 'px'}">{{ 'tab.1.desc' | translate }}</p>
  </div>
</ion-content>
