<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [ngStyle]="{'font-size': (24 * getFontScale()) + 'px'}">
      {{ 'tab.3.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; width: 30%; justify-content: center; margin: auto; height: 100%;">
    <p style="text-align: center;" [ngStyle]="{'font-size': (16 * getFontScale()) + 'px'}">{{ 'tab.3.desc' | translate }}</p>
  </div>
</ion-content>
